<h1>Управление ссылками</h1>

<app-add-link-form></app-add-link-form>

<p *ngIf="!userLinks"><em>Загрузка...</em></p>

<table class='table table-striped' *ngIf="userLinks">
  <thead>
    <tr>
      <th>№</th>
      <th>Оригинальный адрес</th>
      <th>Сжатая ссылка</th>
      <th>Переходы</th>
      <th>Время создания</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userLink of userLinks; let ix = index">
      <td>{{ ix+1 }}.</td>
      <td><a href="javascript:void(0)" title="{{userLink.fullUrl}}" class="href-original">{{ (userLink.fullUrl.length>30)? (userLink.fullUrl | slice:0:30)+'...':(userLink.fullUrl) }}</a></td>
      <td><a href="{{baseUrl}}l/{{ userLink.reduction }}">{{baseUrl}}l/{{ userLink.reduction }}</a></td>
      <td>{{ userLink.transition }}</td>
      <td>{{ userLink.createTime | date:'dd.MM.yyyy HH:mm:ss':'+0300' }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="errors" class="alert alert-danger" role="alert">
  <strong>Ой!</strong> {{errors}}
</div>
